.permissions-container {
    .heading {
        text-align: center;
    }
    .permissions-error {
        text-align: center;
        color: tomato;
    }
    .permissions-img {
        text-align: center;
    }
    .click-here {
        color: black;
        text-decoration: underline;
        cursor: pointer;
    }
}
